.goons-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	margin-top: 1rem;
}

.goon-card {
    border: 4px solid #eaeaea;
}

.goon-card img {
	display: block;
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.goon-card figcaption {
	margin-top: 0.5rem;
}
