.nav-bar {
    display: flex;
    align-items: flex-start;
  gap: 1rem;
    height: 60px;
    width: 100%;
}

/* Whichever page is active inherits the nav-button styling and adds a border around it*/
.nav-button.active-page {
  border: 2px solid;
  border-color: #646cff;
}